
/* fonts*/ 

@import url('https://fonts.googleapis.com/css2?family=Changa:wght@500&family=Open+Sans:wght@300&display=swap'); 

/* variable*/

$primary-font: 'Changa', sans-serif;
$secondary-font:'Open Sans', sans-serif;

$red-color:#E51515;
$black-color: #14151A;




$gray-color:#9F9F9F;
$light-color:#beb8b8;


@mixin flex-display($display, $align-items, $justify-content) {
    display: $display;
    align-items: $align-items;
    justify-content: $justify-content;
  }

  


.bg{
    &-dark{
        background-color:$red-color;
    }
    &-light{
        background-color: $light-color;
    }
}
