@import "abstracts";
@import "components";

/* reset css */

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
}

body {
    font-family: $secondary-font;
    color: $gray-color;
    background-color: $light-color;
}

.container {
    max-width: 114rem;
    margin: 0 auto; // boşlukları ayarlar
    width: 100%; // sayfayı 1140 px gore ortalıcak yanı kösede bosluk olur
}

a {
    text-decoration: none; // linklerin altı cızılı olmaz
    text-transform: uppercase; //linklerin hepsi buyuk harf
    font-family: $primary-font;
    color: $light-color;
}

ul {
    list-style: none;
}

img {
    width: 100%;
}

header {
    border-bottom: 1px solid $primary-color;

    .container {
        padding-top: 1rem;
        @include flex-display(flex, center, space-between);
    }
    .logo {
        width: 15%;
        img {
            width: 100%;
            max-width: 10rem;
        }
    }
    .profil {
        width: 15%;
        img {
            width: 100%;
            max-width: 10rem;
            border-radius: 5rem;
            -webkit-border-radius: 5rem;
            -moz-border-radius: 5rem;
            -ms-border-radius: 5rem;
            -o-border-radius: 5rem;
}
    }
}
